@page
@model MP_WebApplication.Pages.ProfileModel
@{
}
<link rel="stylesheet" href="~/css/Profile.css">

<div class="wrapper bg-white mt-sm-5">
    <h2 class="pb-4 border-bottom">Account settings</h2>
    <div class="py-2">
        <form asp-page-handler="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="bg-light form-control" placeholder="@Model.UserLogic.FirstName" maxlength="20" >
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="firstname">Last Name</label>
                    <input type="text" class="bg-light form-control" placeholder="@Model.UserLogic.LastName" maxlength="20" >
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="firstname">Email</label>
                    <input type="text" class="bg-light form-control" placeholder="@Model.UserLogic.Email" maxlength="20" >
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="firstname">Phone Number</label>
                    <input asp-for="NewUser.PhoneNumber" type="text" class="bg-light form-control" placeholder="@Model.UserLogic.PhoneNumber" maxlength="20">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="firstname">Birth Day</label>
                    <input asp-for="NewUser.Birthdate" type="text" class="bg-light form-control" placeholder="@Model.BirthDay" maxlength="20" readonly>
                </div>
            </div>
            <div class="py-3 pb-4 border-bottom">
                <button class="btn btn-primary mr-3">Save Changes</button>
            </div>
        </form>
        <div class="py-3 pb-4 border-bottom">
            <a href="/Account/Account" class="btn btn-primary mr-3">Reset Password</a>
        </div>
    </div>
</div>
